html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

a:hover,
a:focus {
  color: #2196f3;
}

.header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header .container {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav-list {
  display: flex;
  margin-right: 315px;
}

.nav-list-item {
  color: #212121;
  font-weight: 500;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item:hover {
  color: #2196f3;
}

.list-contact {
  display: flex;
  align-items: center;
}

.list-contact-item:not(:last-child) {
  margin-right: 30px;
}

.list-contact-item {
  color: #757575;
  fill: #757575;
}

.list-contact-item a {
  display: flex;
  align-items: center;
}

.list-contact-item:hover {
  color: #2196f3;
  fill: #2196f3;
}

.web {
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  margin-right: 90px;
}

.header-icon {
  margin-right: 10px;
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/basis.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.advantages-list {
  display: flex;
}

.advantages-icon {
  margin-top: 25px;
  margin-left: 100px;
}

.advantages-box {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: white;
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 900ms ease-in, transform 900ms ease-in;
  }
  .menu {
    display: block;
  }
  .mobile-nav-list {
    margin-bottom: 302px;
  }
  .mobile-nav-item {
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
  .mobile-nav-item:not(:last-child),
  .mobile-contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-list-contact {
    margin-bottom: 64px;
  }
  .mobile-contact-item {
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  .mobile-nav-item:hover,
  .mobile-nav-item:focus,
  .mobile-contact-item:hover,
  .mobile-contact-item:focus {
    color: #2196F3;
  }
  .mobile-social-list {
    display: flex;
  }
  .mobile-social-item {
    color: #2196F3;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }
  .mobile-social-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}/*# sourceMappingURL=main.css.map */