.team-section {
  background-color: #f5f4fa;
}

.team-img {
  margin-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.84px;
  color: $titleColor;
  margin-bottom: 30px;
}

// .team-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// } 



.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  // flex-basis: calc((100% - 4 * 30px) / 4);
  margin-bottom: 30px;
}

.team-image {
  margin-bottom: 30px;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.48px;
  color: $titleColor;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.48px;
  color: $mainTextColor;
  margin-bottom: 16px;
}

.icons-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-list-icon {
  fill: #afb1b8;
  transition: fill 250ms ease-in;
}

.icons-list {
  margin-bottom: 30px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms ease-in;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: $linkColor;
}

.icons-list-item + .icons-list-item {
  margin-left: 10px;
}

.social-icon-link:hover .team-list-icon,
.social-icon-link:focus .team-list-icon {
  fill: #ffffff;
}

// tablet

@media screen and (min-width: 767px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

// desktop

@media screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  .team-title {
    font-size: 36px;

    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
